POSTGRES_PASSWORD="your_db_password_here"
HASURA_ADMIN_SECRET="your_secure_password_here"  # Must match root .env
AUTH_SECRET="your_secure_password_here" # generate here: https://randomkeygen.com/encryption-key